*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    overflow: hidden;
}
body{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: radial-gradient(ellipse at bottom,#1B2735 0%,#090A0E 100%);
}
@font-face{
    font-family: 'bankgothic';
    src: url(bangothic.ttf);
}
h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 7rem;
    font-family: 'bankgothic';
    border-right: 10px solid orange;
    animation: typing 3.5s steps(30,end),
    blink 0.75s step-end infinite;
}
@keyframes typing{
    from{width: 0em}
    to{width: 4em}
}
@keyframes blink{
    from,to{border-color: transparent;}
    50%{border-color: orange;}
}
.stars{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;
    top: calc(1px*var(--y));
    left:calc(1px*var(--x));
    animation: move linear 100s infinite;
}
@keyframes move{
    from{
        top: calc(1px*var(--y));
        left:calc(1px*var(--x));
    }
    to{
        top: calc(2px*var(--y));
        left:calc(2px*var(--x));
    }
}